@charset "utf-8";
/* CSS Document */

p{
line-height:2;
}
.navbar-toggle{
float:none !important;	
	
}

.navbar{
border-radius: 0px !important;	
	
}
.fluid-padding
{
	padding:100px 0px;
}
.navbar
{
	margin:0px !important;	
}
.navbar-default
{
	background-color:#fff !important;
	border-bottom: 2px solid #25abe6 !important;
}
.navbar-nav li a
{
	color:#25abe6 !important;
	margin:10px;
	

}
.foot{
padding:20px;	
	
}

.log img
{
	margin-top:20px;
	
}
body
{
	background:url(../images/speed-test.jpg);
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Roboto Slab', serif !important;

}
.text-white 
{
	color:#fff;
	
	font-weight:bold;
    text-transform: uppercase;
}


.button
{
	color:37,172,224,1;
	border-color:#25abe6;
}
.blue-bg
{
	background-color: rgb(37, 172, 224);
	color:#fff;
} 
.blue-bg p
{
padding: 5px 25px;

}

.leaf{
border-radius: 15px;
border:1px dotted #fff;
padding:30px;
max-width:85%;
margin:auto !important;
text-align:justify !important;
}

.img3{
max-width:1099px;
margin:auto !important;
}
.white-bg
{
background:#fff;
	
}
.white-bg h1
{
	margin-left:10px;
}
.img3 img
{
	border-radius:30px 0px;
	margin:20px 10px;
}
img
{
	max-width:100%;
}
.blue-bg2
{
	background-color: rgb(37, 172, 224);
	color:#fff;
	
	text-transform: uppercase;
	
} 


.black-bg
{
	background-color: RGBA(0, 0, 0, 0.5);
	
}
.color
{
    background-color: rgb(22, 22, 22);
	

}
.fb-img img
{
	width:5%;
	margin-top:10px;
}

.roll-button{
padding: 15px !important;
border-radius: 0px !important;
margin: 20px;
}

.roll-button-black{
padding: 15px !important;
border-radius: 20px 0px !important;
background:#000;
color:#25ACE0 !important;
border:1px solid #fff;
}

.roll-button:hover{
background-color: transparent !important;
}

.btn-primary{
background-color: #25ACE0 !important;
border-color: #25ACE0 !important;	
	
}

/* ticker 
#news_ticker {
	
	width: 100%;
	
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px;
	position: relative;
	-webkit-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
} */
#news_ticker {
height: 30px;
overflow: hidden;
padding: 3px;
bottom: 0px;

}

#news_ticker ol,ul{list-style:none};

.ticker span {
	float: left;
	color: rgba(0,0,0,.8);
	color: #001b25;
	background: #00425a; 
	padding: 6px;
	position: relative;
	border-radius: 4px;
	font-size: 12px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0,0,0,0.5);
	background: rgb(0,75,103);
	background: -moz-linear-gradient(top, rgba(0,75,103,1) 0%, rgba(0,53,72,1) 100%);
	background: -webkit-linear-gradient(top, rgba(0,75,103,1) 0%,rgba(0,53,72,1) 100%);
	background: -o-linear-gradient(top, rgba(0,75,103,1) 0%,rgba(0,53,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,75,103,1) 0%,rgba(0,53,72,1) 100%);
	background: linear-gradient(top, rgba(0,75,103,1) 0%,rgba(0,53,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004b67', endColorstr='#003548',GradientType=0 );
}

#news_ticker ul {
	text-align:center;
	padding-left: 20px;
	-webkit-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
	-moz-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
	-ms-animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
	animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
}
#news_ticker ul:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}
#news_ticker li {line-height: 26px;}
#news_ticker a {
	color: #fff;
	text-decoration: none;
font-size: 24px;
text-transform: uppercase;
}

@-webkit-keyframes ticker {
	0%   {margin-top: 0;}
	25%  {margin-top: -26px;}
	50%  {margin-top: -52px;}
	75%  {margin-top: -78px;}
	100% {margin-top: 0;}
}
@-moz-keyframes ticker {
	0%   {margin-top: 0;}
	25%  {margin-top: -26px;}
	50%  {margin-top: -52px;}
	75%  {margin-top: -78px;}
	100% {margin-top: 0;}
}
@-ms-keyframes ticker {
	0%   {margin-top: 0;}
	25%  {margin-top: -26px;}
	50%  {margin-top: -52px;}
	75%  {margin-top: -78px;}
	100% {margin-top: 0;}
}
@keyframes ticker {
	0%   {margin-top: 0;}
	25%  {margin-top: -26px;}
	50%  {margin-top: -52px;}
	75%  {margin-top: -78px;}
	100% {margin-top: 0;}
}
.ticker-div{
width:100%;
margin:auto;
max-width:70%
}